
  .hero-container {
    background-color: var(--light-green);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .headline  {
    color: #fff;
    font-size: 40px;
    margin-left: 30px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    justify-content: center;
  }
  
  .hero-link{
    color:var(--primary-white);
    display:flex;
    text-decoration: none;
    border: 1px solid var(--primary-white);
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 30px;
  }
  @media screen and (max-width: 960px) {
    .headline {
      font-size: 30px;
      margin-top: -150px;
    }
    .hero-link{
      font-size: 25px;
    }
    .hero-container  {
      padding-top: 100px;
    }
    

  }
  
  @media screen and (max-width: 768px) {
    .headline {
      font-size: 25px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }  

    .hero-link{
      font-size: 20px;
    }
  
  }
