img{
	max-width:100%;
	height:100%;
}

.login{
    width: 480px;
    height: 530px;
/*	background:#FFFFFF;*/
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
	border-radius: 15px; 
}

.form-box{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 25%;
}
input{
    width: 350px;
    height: 30px;
    outline-style: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    background: transparent;
}
.form{
    width: 365px;
    height: 50px;
    margin: 35px auto;
}
h{
	margin-left: 15px;
    font-size: 25px;
	font-weight: bold;
    width: 100px;
}

h1{
    text-align: center;
    font-size: 25px;
    width: 100px;
    margin: 25px auto;
}
#btn{
	cursor: pointer;
    width: 80px;
    height: 45px;
    position: absolute;
    bottom: -55px;
   	margin-left: 365px;
    font-size: 16px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid black;
    outline-style: none;
	color:white;
	background-color: rgb(108,156,147)
}

a,a:hover{
    text-decoration: none;
    color: royalblue;
}
h2{
	position:absolute;
	left:145px;
	top:104px;
    font-size: 12px;
}
#register{
    position: absolute;
    bottom: 210px;
    left: 230px;
}
