* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
	color:white;
}
img{
	max-width:100%;
	height:100%;
}

.signUp{
    width: 480px;
    height: 530px;
/*	background:#FFFFFF;*/
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
	border-radius: 15px; 
}

.box{
    width: 100%;
    height: 200px;
    position: absolute;
    top: 25%;
}
input{
    width: 350px;
    height: 30px;
    outline-style: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    background: transparent;
}
.form{
    width: 365px;
    height: 50px;
    margin: 35px auto;
}
h{
	margin-left: 15px;
    font-size: 25px;
	font-weight: bold;
    width: 100px;
}

h1{
    text-align: center;
    font-size: 25px;
    width: 100%;
    margin: 25px auto;
}
#btn{
	cursor: pointer;
    width: 130px;
    height: 45px;
    position: absolute;
    bottom: -230px;
   	margin-left: 340px;
    font-size: 16px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid black;
    outline-style: none;
	color:white;
	background-color: rgb(108,156,147)
}

a,a:hover{
    text-decoration: none;
    color: royalblue;
}
h2{
	position:absolute;
	left:100px;
	top:104px;
    font-size: 10px;
}
#sign{
    position: absolute;
    bottom: 210px;
    left: 280px;
}